
:root {
  --font-default:
  'Poppins', sans-serif;
  --font-primary:
  'Poppins', sans-serif;
  --font-secondary:
  'Poppins', sans-serif;
  scroll-behavior: smooth;
  --color-bg: #025add;
  --hero-overlay-color: transparent;
  --menu-color: #ffffff;
  --theme-color: #025add;
  --border-color: #e2e2e2;
  --theme-color-dark: #f8f8f8;
  --text-color: #3a3a3a;
  --hero-text-color: #ffffff;
  --text-white-color: #ffffff;
  --text-grey-color: #3a3a3a;
  --text-theme-color: #025add;
  --light-color: #ffffff;
  --color-default: #3a3a3a;
  --color-primary: #025add;
  --color-secondary: #0c6de0;
  --color-start: #3a3a3a;
  --color-end: #3a3a3a;
  --hero-card-bg: rgb(228 227 223 / 17%);
  --box-shadow-color: rgb(82 90 101 / 10%);
}

:root.dark {
  --menu-color-bg: #565656;
  --color-bg: #000000;
  --hero-overlay-color: #000000;
  --menu-color: #ffffff;
  --theme-color: #000000;
  --border-color: #14929a;
  --theme-color-dark: #2c2c2c;
  --text-color: #ffffff;
  --hero-text-color: #ffffff;
  --text-white-color: #ffffff;
  --text-grey-color: #565656;
  --text-theme-color: #14929a;
  --light-color: #000000;
  --color-default: #000000;
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-start: #000000;
  --color-end: #000000;
  --hero-card-bg: rgb(0 0 0 / 83%);
  --box-shadow-color: rgb(20 146 154 / 49%);
}

body {
  font-family: var(--font-default);
  color: var(--text-color); 
  background: var(--theme-color);
  /* transition: 0.5s background ease;
   
*/
 /* background-image: url("1.png"); */
}

.toggle-container {
  position: relative;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.hide-on-mobile{
  display: block;
}

img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.1);
}

.fill-btn{
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  border: 0;
  transition: 0.3s;
  color: var(--text-white-color);
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.fill-btn:hover {background: linear-gradient(45deg, var(--color-secondary), var(--color-primary));color: var(--text-white-color);}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
  padding: 120px 0 60px 0;
  min-height: 20vh;
  /* background: url(../images/page-header-bg.png) center bottom; */
  background-size: cover;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}
.breadcrumbs .page-header:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,var(--light-color), var(--light-color));
    z-index: 0;
    opacity: 0.6;
}

.breadcrumbs .page-header h2 {
  color: var(--color-primary);
}

.breadcrumbs .page-header p {
  color: var(--menu-color);
}

.breadcrumbs nav {
  background-color: var(--theme-color);
  padding: 20px 0;
}

.breadcrumbs nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--color-default);
}

.breadcrumbs nav ol a {
  color: var(--text-white-color);
  transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
  text-decoration: underline;
}

.breadcrumbs nav ol li+li {
  padding-left: 10px;
}

.breadcrumbs nav ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary);
  content: "/";
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
  .hide-on-mobile{
    display: none !important;
  }
}
.nexcatech{
  height: 150px;
  margin-top: 1px;
  
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar {
  background: #00796b;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

.topbar .contact-info i {
  font-style: normal;
  color: #fff;
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

@media (max-width: 575px) {

  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

.topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

.topbar .social-links a:hover {
  color: #fff;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header.stikcy-menu {
  background: var(--light-color);
}
.header.stikcy-menu .logo h1{
  color: var(--color-primary);
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 0.8px;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

.sticked-header-offset {
  margin-top: 0;
}

/* section {background: var(--light-color);} */

/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/

.left {
  text-align: right;
}
.right {
  text-align: left;
}
.list-wrap{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.list-wrap p{
  color: var(--text-color);
}
.list-wrap:nth-child(3),
.list-wrap:nth-child(6){
  margin-bottom: 0;
}

.list-wrap .description h4{
  color: var(--text-color);
}

.icon {
  width: 150px;
  text-align: center;
  height: 100px;
  border-radius: 50%;
}
.icon svg{
  width: 100%;
}
.list-center-wrap{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
}
.center-icon{
  width: 100%;
  text-align: center;
}
.center-icon img{
  width: 100%;
  border-radius: 20px;
  opacity: 0.9;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background: url(../images/Nexca_BG.png) center center;
  background-size: cover;
  padding: 60px 0 0 0;
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero::before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
  margin-top: 0;
  background: linear-gradient(360deg, var(--hero-overlay-color), var(--hero-overlay-color));
}
.hero .circle{
  color: var(--color-primary);
}
@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
  }
}

.dark-bg{
  padding: 50px 30px;
  border-radius: 8px;
}
.mr-20{
  margin-right: 20px !important;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--hero-text-color);
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-weight: 600;
}
.hero span{
  color: var(--color-primary);
  font-weight: bold;
}

.hero p {
  color: var(--hero-text-color);
  font-weight: 400;
  margin-bottom: 30px;
}

.btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 20px;
  border-radius: 50px;
  transition: 0.3s;
  color: var(--text-white-color);
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
}

.btn-get-started:hover {
  background: linear-gradient(45deg, var(--color-secondary), var(--color-primary));
  color: var(--text-white-color);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
}

.hero .btn-watch-video i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover i {
  color: #fff;
}

@media (max-width: 991px) {
  .hero {
    background: url(../images/hero-bg_1.png) center center;
    background-position: -31em;
  }
  .hero h2 {
    font-size: 22px;
    padding-left: 4rem;
  }
  .hero p {
    padding-left: 5rem;

  }
  .call-to-action {
    background: url(../cta-bg.html) center left;
      background-size: cover;
      padding: 150px 60px;
      border-radius: 0px;
      overflow: hidden;
  }
}

@media (max-width: 767px) {
  .text-left.caption{
    text-align: center;
  }
  .caption .justify-content-start{
    justify-content: center !important;
  }
  .caption .social{
    justify-content: center;
  }
  .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
  .icon-boxes .card-two{
    margin-top: var(--bs-gutter-y);
    margin-bottom: 0px;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);

  }
}
@media (min-width: 768px) {
  .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
  }
  .icon-boxes .card-two{
    margin-top: -20px;
    margin-bottom: -20px;
  }
}


/*--------------------------------------------------------------
# Particles
--------------------------------------------------------------*/
#particles-js {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
canvas{
  display:block;
  vertical-align:bottom;
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }

  .navbar-mobile ul {
    display: block;
  }
}
    

